<header class="site-header">
  <div class="container site-header-inner">
    <a class="site-header-logo" src="/src/assets/images/logo/logo.svg"></a>

    <nav aria-label="Categories">
      <ul class="site-header-nav">
        <li><a href="#">Black Market Resource</a></li>
        <li><a href="#">Sweatshops</a></li>
        <li><a href="#">Biohazard</a></li>
        <li><a href="#">Biotech</a></li>
        <li><a href="#">Food Cartels</a></li>
        <li><a href="#">War Profiteering</a></li>
        <li><a href="#">Social Impacts</a></li>
        <li><a href="#">Trade Policy</a></li>
        <li><a href="#">Cold Cases</a></li>
      </ul>
    </nav>
    <div class="site-header-actions">
      <form>
        <label id="searchLabel" for="search"
          >Search
          <input
            id="search"
            aria-labelledby="searchLabel"
            type="search"
            name="search"
            placeholder="Search"
          />
        </label>
      </form>
      <a href="#" aria-label="Account">Account</a>
    </div>
  </div>
</header>
