<section class="newsletter">
  <div class="container newsletter-inner">
    <h2 class="newsletter-title">Get the newsletter</h2>

    <form class="newsletter-form">
      <label class="visually-hidden" for="newsletter-email"
        >Email address</label
      >
      <input
        class="newsletter-input"
        id="newsletter-email"
        type="email"
        name="email"
        placeholder="Email address"
        required
      />
      <button class="newsletter-submit" type="submit">Subscribe</button>
    </form>
  </div>
</section>
