<section class="related-articles">
  <div class="container">
    <h2 class="related-articles__title">Related articles</h2>

    <ul class="related-articles__list">
      <li class="related-articles__card">
        <p class="related-articles__card-title">Related article title one</p>
        <p class="related-articles__card-date">September 12, 2026</p>
      </li>
      <li class="related-articles__card">
        <p class="related-articles__card-title">Related article title two</p>
        <p class="related-articles__card-date">September 10, 2026</p>
      </li>
      <li class="related-articles__card">
        <p class="related-articles__card-title">Related article title three</p>
        <p class="related-articles__card-date">September 8, 2026</p>
      </li>
    </ul>
  </div>
</section>
