@font-face {
  font-family: "Freeman";
  src: url("/src/assets/fonts/Freeman-Regular.woff2");
}

@font-face {
  font-family: "Archivo-Black";
  src: url("/src/assets/fonts/ArchivoBlack-Regular.woff2");
}
